* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
}

h1 {
    font-size: 4rem;
    margin: 32px 0;
    text-align: center;
    color: whitesmoke;
}

#main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#grid-container {
    background-color: whitesmoke;
    border: 2px solid violet;
    width: 650px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;


}

.small-div {
    border: 1px solid rgba(238, 130, 238, 0.534);
    flex: 0 0 calc(100% / var(--size));
}

#controls {
    min-height: 650px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#controls #color-picker {
    padding: 0;
    min-width: 100%;
    min-height: 44px;
}

#controls .control-btn {
    border: 2px solid violet;
    background-color: rgb(241, 147, 241);
    text-transform: uppercase;
    font-weight: 900;
    padding: 12px 28px;
    cursor: pointer;
}
